<%= form_with(
  model: user,
  class: "flex flex-col gap-5",
  data: { turbo_frame: "_top" }
) do |form| %>

  <%# Gestione Errori %>
  <% if user.errors.any? %>
    <div class="alert alert-error text-sm rounded-lg p-3">
      <ul class="list-disc list-inside">
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Campo Nickname %>
  <div class="form-control w-full">
    <%= form.label :nickname, class: "label font-bold pb-1" %>
    <%= form.text_field :nickname, class: "input input-bordered w-full", autofocus: true %>
  </div>

  <%# Sezione Sicurezza (Cambio Password) %>
  <div class="divider text-xs opacity-50 uppercase font-bold tracking-wider my-2">Sicurezza</div>

  <div class="form-control w-full">
    <%= form.label :password, class: "label font-bold pb-1 flex justify-between" do %>
      <span>Nuova Password</span>
      <span class="text-xs font-normal opacity-60">Opzionale</span>
    <% end %>
    <%= form.password_field :password, class: "input input-bordered w-full", placeholder: "Lascia vuoto per non cambiare" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :password_confirmation, "Conferma Nuova Password", class: "label font-bold pb-1" %>
    <%= form.password_field :password_confirmation, class: "input input-bordered w-full" %>
  </div>

  <%# Azioni Form %>
  <div class="modal-action mt-6 flex gap-2">
    <%= link_to "Annulla", user_path(user), class: "btn flex-1 sm:flex-none" %>
    <%= form.submit "Salva Modifiche", class: "btn btn-primary flex-1 sm:flex-none" %>
  </div>

<% end %>
