<fieldset class="fieldset" data-controller="autocomplete" data-autocomplete-url-value="<%= search_url %>" data-modal-id="<%= local_assigns[:modal_id] %>" data-input-id="<%= local_assigns[:input_id] %>">
  <legend class="fieldset-legend"><%= label %></legend>

  <%# Aggiunto l'id dinamico qui sotto %>
  <div id="<%= local_assigns[:wrapper_id] %>" class="dropdown w-full">
    <%= form.hidden_field field, data: { autocomplete_target: "hidden" } %>

    <input type="text"
           class="input w-full"
           value="<%= display_value %>"
           data-action="input->autocomplete#search"
           data-autocomplete-target="input"
           autocomplete="off"
           placeholder="Cerca o digita per creare...">

    <div data-autocomplete-target="results" class="dropdown-content w-full z-[1]"></div>
  </div>
</fieldset>
