<%# app/views/shared/_participation_builder.html.erb %>
<fieldset class="fieldset" data-controller="multi-autocomplete" data-multi-autocomplete-url-value="<%= search_url %>" data-multi-autocomplete-role-value="<%= role %>">
  <legend class="fieldset-legend"><%= label %></legend>

  <div data-multi-autocomplete-target="selectedContainer" class="flex flex-col gap-2 mb-4">
    <%= form.fields_for :participations, participations do |p_form| %>
      <div class="flex items-center gap-2 p-2 bg-base-200 rounded-box border border-base-300 participation-row">
        <%= p_form.hidden_field :contact_id %>
        <%= p_form.hidden_field :role, value: role %>
        <%= p_form.hidden_field :_destroy, class: "destroy-flag" %>

        <div class="font-bold flex-1 truncate">
          <%= p_form.object.contact.display_name %>
        </div>

        <div class="flex-1">
          <%= p_form.text_field :title, class: "input input-sm w-full", placeholder: "Veste/Titolo (es. Sindaco)" %>
        </div>

        <button type="button" data-action="click->multi-autocomplete#removeRow" class="btn btn-sm btn-ghost text-error">X</button>
      </div>
    <% end %>
  </div>

  <div class="dropdown w-full">
    <input type="text"
           class="input w-full"
           data-action="input->multi-autocomplete#search"
           data-multi-autocomplete-target="input"
           autocomplete="off"
           placeholder="Cerca o aggiungi nuovo...">
    <div data-multi-autocomplete-target="results" class="dropdown-content w-full z-[1]"></div>
  </div>

  <template data-multi-autocomplete-target="badgeTemplate">
    <div class="flex items-center gap-2 p-2 bg-base-200 rounded-box border border-base-300 participation-row">
      <input type="hidden" name="<%= form.object_name %>[participations_attributes][NEW_RECORD][contact_id]" value="TEMPLATE_ID">
      <input type="hidden" name="<%= form.object_name %>[participations_attributes][NEW_RECORD][role]" value="<%= role %>">
      <input type="hidden" name="<%= form.object_name %>[participations_attributes][NEW_RECORD][_destroy]" value="0" class="destroy-flag">

      <div class="font-bold flex-1 truncate">
        TEMPLATE_NAME
      </div>

      <div class="flex-1">
        <input type="text" name="<%= form.object_name %>[participations_attributes][NEW_RECORD][title]" class="input input-sm w-full" placeholder="Veste/Titolo (es. Sindaco)">
      </div>

      <button type="button" data-action="click->multi-autocomplete#removeRow" class="btn btn-sm btn-ghost text-error">X</button>
    </div>
  </template>
</fieldset>
