<%#
Riceve:
- contact: L'istanza di Contact
- url: L'URL della rotta (es. photographers_path o clients_path)
%>
<%= form_with(model: contact, url: url, class: "flex flex-col gap-4") do |f| %>
  <% if local_assigns[:return_to] %>
    <%= hidden_field_tag :return_to, return_to %>
  <% end %>

  <%# Passiamo il kind in modo silente per assicurarci che sia una persona %>
  <%= f.hidden_field :kind %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Nome</legend>
    <%= f.text_field :first_name, id: local_assigns[:input_id], class: "input w-full", required: true %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Cognome</legend>
    <%= f.text_field :last_name, class: "input w-full", required: true %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Telefono</legend>
    <%= f.text_field :phone, class: "input w-full" %>
  </fieldset>

  <div class="<%= local_assigns[:modal_id] ? 'modal-action' : 'mt-4' %>">
    <% if local_assigns[:modal_id] %>
      <button type="button" class="btn" onclick="<%= modal_id %>.close()">Annulla</button>
      <%= f.submit "Salva e Usa", class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Annulla", root_path, class: "btn" %>
      <%= f.submit "Salva", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
