<%= form_with(
  model: location,
  url: local_assigns[:submit_url]
) do |f| %>

  <%= render "shared/form_errors", object: location %>

  <% if params[:target_list_id].present? %>
    <%= hidden_field_tag :target_list_id, params[:target_list_id] %>
  <% end %>

  <!-- Begin Name -->
  <fieldset class="fieldset">

    <legend class="fieldset-legend">Nome Posizione *</legend>

    <%= f.text_field :name,
     class: "input w-full",
     id: local_assigns[:input_id],
     placeholder: "Piazza San Marco" %>

  </fieldset>
  <!-- End Name -->

  <!-- Begin District -->
  <fieldset class="fieldset">

    <legend class="fieldset-legend">Zona / Sestiere</legend>

    <%= f.text_field :district,
     class: "input w-full",
     placeholder: "San Marco" %>

  </fieldset>
  <!-- End District -->

  <!-- Begin Actions -->
  <div class="modal-action">

    <%= f.submit "Salva", class: "btn btn-primary" %>

    <button
      type="button"
      class="btn"
      data-action="dialog#close">
      Chiudi
    </button>

  </div>
  <!-- End Actions -->

<% end %>
