<%= form_with(model: location, class: "flex flex-col gap-4") do |f| %>

  <% if local_assigns[:return_to].present? %>
    <%= hidden_field_tag :return_to, local_assigns[:return_to] %>
    <%= hidden_field_tag :morph_key, local_assigns[:morph_key] %>
  <% end %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Nome</legend>
    <%# Usiamo input_id se passato, altrimenti Rails genera il suo standard %>
    <%= f.text_field :name, id: local_assigns[:input_id], class: "input w-full", required: true %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Sestiere / Zona</legend>
    <%= f.text_field :district, class: "input w-full", placeholder: "Es: Dorsoduro..." %>
  </fieldset>

  <%# Gestione dinamica dei bottoni: Modale vs Pagina Normale %>
  <div class="<%= local_assigns[:modal_id] ? 'modal-action' : 'mt-4' %>">
    <% if local_assigns[:modal_id] %>
      <button type="button" class="btn" onclick="<%= modal_id %>.close()">Annulla</button>
      <%= f.submit "Salva e Usa", class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Annulla", locations_path, class: "btn" %>
      <%= f.submit "Salva", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
