<header class="navbar sticky top-0 z-50 bg-base-200/80 backdrop-blur">

  <div class="navbar-start">
    <%= link_to root_path, class: "btn btn-ghost gap-2" do %>
      <%= icon("dirty_lens", classes: "w-7 h-7") %>
      <span class="text-lg font-mono mt-[2px]">fa</span>
    <% end %>
  </div>

  <div class="navbar-center flex hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-medium text-base-content/80">
      <li>
	<%= link_to jobs_path do %>
	  <%= icon("photo_library", classes: "w-4 h-4 opacity-50") %>
	  <span>Servizi</span>
	<% end %>
      </li>
      <li>
	<%= link_to contacts_path do %>
	  <%= icon("contacts", classes: "w-4 h-4 opacity-50") %>
	  <span>Contatti</span>
	<% end %>
      </li>
      <li>
	<%= link_to locations_path do %>
	  <%= icon("locations", classes: "w-4 h-4 opacity-50") %>
	  <span>Posizioni</span>
	<% end %>
      </li>
    </ul>
  </div>

  <div class="navbar-end flex gap-3">
    <%= render "layouts/omnibox" %>
    <%= render "layouts/user_menu" %>
  </div>
</header>
